{% extends "layout.html" %}
{% from "_form.html" import field_errors, horizontal_field %}

{% block page_title %}点评《{{ work.title }}》{% endblock %}
{% block page_js %}
    <script src="/pages/work/add_review/add_review.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/work/add_review/add_review.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="legend legend-lg">点评《{{ work.title }}》</h2>
            </div>

            <div class="col-sm-8">

                <form id="form-add-review" class="form-horizontal" method="post"
                      action="{{ url_for('work.add_review', work_id=work.id) }}">
                    <fieldset>

                        {{ form.csrf_token }}

                        {{ horizontal_field(form.title, length=10) }}

                        {{ horizontal_field(form.content, rows='15', length=10) }}

                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-2">
                                <input type="submit" name="draft" value="保存草稿" class="btn btn-default btn-sm"/>
                                <input type="submit" name="publish" value="发布" class="btn btn-primary btn-sm"/>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
