{% extends "layout.html" %}
{% from "_utils.html" import pagination %}
{% from "work/works/_works.html" import render_works with context %}

{% block page_title %}未加精作品{% endblock %}
{% block page_js %}
    <script src="/pages/admin/unhighlight_works/unhighlight_works.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/admin/unhighlight_works/unhighlight_works.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>未加精 / {{ works.total }}</h2>

                {{ render_works(works.items) }}

                {{ pagination(works) }}
            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
