{% extends "layout.html" %}
{% from "_utils.html" import pagination %}
{% from "work/work_images/_work_images.html" import render_work_images %}

{% block page_title %}最新图片{% endblock %}
{% block page_js %}
    <script src="/pages/work/all_images/all_images.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/work/all_images/all_images.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>最新图片</h2>

                {{ render_work_images(paginator.items) }}

                {{ pagination(paginator) }}
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
