{% extends "layout.html" %}
{% from "_utils.html" import pagination %}
{% from "topic/topics/_topics.html" import render_topics %}
{% from "user/user_profile/_user_profile.html" import render_user_profile %}

{% block page_title %}{{ user.name }}的话题{% endblock %}
{% block page_js %}
    <script src="/pages/user/topics/topics.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/user/topics/topics.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ render_user_profile(user) }}

                <h2>话题 / {{ paginator.total }}</h2>

                {{ render_topics(paginator.items) }}

                {{ pagination(paginator) }}
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
